---
import Layout from "../layouts/Layout.astro";
---

<Layout title="G1iD">
  <main class="bg-gray-100 dark:bg-gray-900">
    <section class="w-full h-screen flex flex-col items-center justify-center">
      <div class="mb-8">
        <a
          class="text-gray-500 hover:text-gray-600 dark:text-gray-400 dark:hover:text-gray-300"
          href="mailto:info@g1id.com"
          aria-label="logo"
        >
          <svg class="logo" xmlns="http://www.w3.org/2000/svg" fill="currentColor" xmlns:xlink="http://www.w3.org/1999/xlink" width="100.000mm" height="244.444mm" viewBox="-400.000000 127.777779 100.000000 244.444458">
            <path transform="matrix(-1,0,0,1,0,0)" d="M337.567139,272.873108L336.206421,274.233795C335.789673,274.650543,335.555573,275.215759,335.555573,275.805145L335.555573,279.750427C335.555573,280.339783,335.789673,280.905029,336.206421,281.321777L337.567139,282.682465C337.983887,283.099213,338.549103,283.333344,339.138489,283.333344L385.305969,283.333344C385.895355,283.333344,386.460571,283.099213,386.877319,282.682465L388.238037,281.321777C388.654755,280.905029,388.888885,280.339783,388.888885,279.750427L388.888885,275.805145C388.888885,275.215759,388.654785,274.650543,388.238037,274.233795L386.877319,272.873108C386.460571,272.45636,385.895355,272.222229,385.305969,272.222229L339.138489,272.222229C338.549103,272.222229,337.983887,272.45636,337.567139,272.873108z"/>
            <path transform="matrix(-1,0,0,1,0,0)" d="M313.122681,272.873108L311.761993,274.233795C311.345245,274.650543,311.111115,275.215759,311.111115,275.805145L311.111115,279.750427C311.111115,280.339783,311.345245,280.905029,311.761993,281.321777L313.122681,282.682465C313.539429,283.099213,314.104675,283.333344,314.694031,283.333344L320.861542,283.333344C321.450897,283.333344,322.016144,283.099213,322.432892,282.682465L323.793579,281.321777C324.210327,280.905029,324.444458,280.339783,324.444458,279.750427L324.444458,275.805145C324.444458,275.215759,324.210327,274.650543,323.793579,274.233795L322.432892,272.873108C322.016144,272.45636,321.450897,272.222229,320.861542,272.222229L314.694031,272.222229C314.104675,272.222229,313.539429,272.45636,313.122681,272.873108z"/>
            <path transform="matrix(-1,0,0,1,0,0)" d="M399.349121,254.860657C399.765869,254.443909,400,253.878693,400,253.289322L400,252.222229C400,250.994934,399.005096,250,397.777771,250L313.333344,250C312.106049,250,311.111115,249.005081,311.111115,247.777786L311.111115,235.495453C311.111115,235.207581,310.944336,234.94577,310.683411,234.824097C310.422516,234.702454,310.114746,234.742966,309.894226,234.928009L300.793823,242.564163C300.290619,242.986389,300,243.609619,300,244.266479L300,253.289337C300,253.878693,300.234131,254.443924,300.650879,254.860672L306.250458,260.460236C306.667175,260.876984,307.232422,261.111115,307.821777,261.111115L392.178223,261.111115C392.767578,261.111115,393.332825,260.876984,393.749573,260.460236L399.349121,254.860657z"/>
            <path transform="matrix(-1,0,0,1,0,0)" d="M301.216888,227.650604L310.317322,220.014435C310.820496,219.592194,311.111115,218.968994,311.111115,218.312103L311.111115,141.111115C311.111115,139.88382,312.106018,138.888901,313.333344,138.888901L386.666656,138.888885C387.893982,138.888885,388.888885,139.88382,388.888885,141.111115L388.888885,225.555557C388.888885,226.782867,387.893982,227.777771,386.666687,227.777771L357.777771,227.777771C356.550476,227.777771,355.555542,226.782867,355.555542,225.555557L355.555542,174.444458C355.555542,173.217148,354.560638,172.222229,353.333344,172.222229L346.666687,172.222229C345.439362,172.222229,344.444458,173.217148,344.444458,174.444458L344.444458,231.067108C344.444458,231.656479,344.678589,232.22171,345.095337,232.638458L350.694885,238.238022C351.111633,238.65477,351.67688,238.888885,352.266235,238.888885L392.178223,238.888885C392.767578,238.888885,393.332825,238.65477,393.749573,238.238022L399.349121,232.638458C399.765869,232.22171,400,231.656479,400,231.067108L400,135.599564C400,135.010193,399.765869,134.444962,399.349121,134.028214L393.749573,128.42865C393.332825,128.011902,392.767578,127.777779,392.178223,127.777779L307.821777,127.777786C307.232422,127.777786,306.667175,128.011902,306.250427,128.42865L300.650879,134.028214C300.234131,134.444962,300,135.010193,300,135.599564L300,227.08316C300,227.371033,300.166809,227.632828,300.427704,227.754486C300.688599,227.87616,300.996368,227.835632,301.216888,227.650604z"/>
            <path transform="matrix(-1,0,0,1,0,0)" d="M354.444458,372.222229L345.555573,372.222229C332.668915,372.222229,322.222229,361.775543,322.222229,348.888885L322.222229,298.888885C322.222229,296.434296,324.212067,294.444458,326.666687,294.444458L373.333344,294.444458C375.787933,294.444458,377.777771,296.434296,377.777771,298.888885L377.777771,348.888885C377.777771,361.775543,367.331085,372.222229,354.444458,372.222229zM354.444458,361.111115L345.555573,361.111115C338.80542,361.111115,333.333344,355.639038,333.333344,348.888885L333.333344,307.777771C333.333344,306.550476,334.328247,305.555573,335.555573,305.555573L364.444458,305.555573C365.671753,305.555573,366.666687,306.550476,366.666687,307.777771L366.666687,348.888885C366.666687,355.639069,361.194611,361.111115,354.444458,361.111115z"/>
            <style>
                path { stroke:none; fill-rule:evenodd }
            </style>
          </svg>
        </a>
      </div>
      <div class="flex space-x-4">
        <a
          class="text-gray-500 hover:text-gray-600 dark:text-gray-400 dark:hover:text-gray-300"
          href="#"
          aria-label="twat"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 512 512"
            fill="currentColor"
            class="icon"
          ><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
            <path
              d="M389.2 48h70.6L305.6 224.2 487 464H345L233.7 318.6 106.5 464H35.8L200.7 275.5 26.8 48H172.4L272.9 180.9 389.2 48zM364.4 421.8h39.1L151.1 88h-42L364.4 421.8z"
            ></path>
          </svg>
        </a>
        <a
          class="text-gray-500 hover:text-gray-600 dark:text-gray-400 dark:hover:text-gray-300"
          href="#"
          aria-label="facebook"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 512 512"
            fill="currentColor"
            class="icon"
          ><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
            <path
              d="M512 256C512 114.6 397.4 0 256 0S0 114.6 0 256C0 376 82.7 476.8 194.2 504.5V334.2H141.4V256h52.8V222.3c0-87.1 39.4-127.5 125-127.5c16.2 0 44.2 3.2 55.7 6.4V172c-6-.6-16.5-1-29.6-1c-42 0-58.2 15.9-58.2 57.2V256h83.6l-14.4 78.2H287V510.1C413.8 494.8 512 386.9 512 256h0z"
            ></path>
          </svg>
        </a>
        <a
          class="text-gray-500 hover:text-gray-600 dark:text-gray-400 dark:hover:text-gray-300"
          href="https://www.instagram.com/g1id.fab/"
          aria-label="instagram"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 448 512"
            fill="currentColor"
            class="icon"
          ><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
            <path
              d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"
            ></path>
          </svg>
        </a>
      </div>
    </section>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }

  .icon {
    width: 1.25em;
    height: 1.25em;
    vertical-align: -0.125em;
  }

  .logo {
    width: 200px;
    height: 200px;
  }
</style>
